.features_wrapper {
  color: #fff;
}

.features_wrapper h2 {
  font-size: 36px;
}

.features_wrapper h2 span {
  color: var(--primary-color);
}

.features_wrapper p {
  color: rgba(131, 131, 131, 0.8);
  width: 40%;
}

.features_cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.features_cards .features_card {
  position: relative;
  width: 50%;
}

.features_cards .features_card i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  padding: 20px 21px;
  background-color: #5bb902;
  border-radius: 50%;
}

.features_cards .features_card img {
  width: 100%;
  border-radius: 12px;
}

.features_cards .features_card:nth-child(2) {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card_container {
  height: 220px;
  width: 100%;
  padding: 30px;
  background: linear-gradient(0deg, #5bb902, transparent);
  border-radius: 12px;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card_container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.9%;
  left: 0.5%;
  background-color: #000;
  height: 99%;
  width: 99%;
  border-radius: 8px;
  border: 1px solid rgba(131, 131, 131, 0.2);
}

.card_container h3 {
  font-size: 24px;
}
.card_container p {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .features_cards .features_card {
    width: 40%;
  }

  .features_cards .features_card:nth-child(2) {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .features_cards {
    flex-direction: column;
    width: 100%;
  }

  .features_cards .features_card {
    width: 100%;
  }

  .features_cards .features_card:nth-child(2) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .features_cards .features_card:nth-child(2) {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .features_wrapper p {
    width: 100%;
  }
}